* {
  box-sizing: border-box;
}
html,
body {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 22px;
  font-weight: 500;
  line-height: 170%;
  color: rgba(255, 255, 255, 0.6);
  background: #1f1f1f;
}
section{
  padding-top: 150px;
  @media (max-width: 1280px) {
    padding-top: 80px;
  }
}
.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}
.main {
  flex: 1 0 auto;
}
.footer {
  flex: 0 0 auto;
}
.container {
  max-width: 1760px;
  width: 100%;
  padding: 0 20px;
  margin: 0 auto;
  position: relative;
}
.section-title {
  font-size: 76px;
  font-style: normal;
  font-weight: 600;
  line-height: 140%;
  color: #ffffff;
  @media (max-width: 992px) {
    font-size: 26px;
  }
}
.hero .request-btn {
  font-size: 22px;
  font-style: normal;
  font-weight: 600;
  line-height: 140%;
  color: #ffffff;
  padding: 14.5px 0;
  background: #660000;
  text-align: center;
  transition: 0.3s;
  max-width: 350px;
  width: 100%;
  cursor: pointer;
  &:hover {
    color: #1f1f1f;
    background: #ffffff;
  }
  &:active {
    color: #1f1f1f !important;
    background: #a5a5a5 !important;
  }
}
.d-none {
  display: none!important;
}
.hidden{
  visibility: hidden;
  opacity: 0;
}
.ov-hidden {
  overflow: hidden;
}
.slider-arrows {
  position: absolute;
  display: flex;
  gap: 20px;
  right: 100px;
  bottom: 50px;
}
.swiper-button {
  width: 64px;
  height: 64px;
  background: #660000;
  transition: background-color 0.3s;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  &.swiper-button-disabled {
    background: #474747 !important;
    &:hover {
      .slider-arrow {
        fill: #ffffff;
      }
    }
  }
  &:hover {
    background: #ffffff;
    .slider-arrow {
      fill: #1f1f1f;
      @media (max-width: 767px) {
        fill: #ffffff;
      }
    }
  }
  &:active {
    background: rgba(255, 255, 255, 0.6);
  }
  .slider-arrow {
    width: 18px;
    height: 14px;
    fill: #ffffff;
    transition: 0.3s;
    &.arrow-next {
      transform: rotate(180deg);
    }
  }
}
.swiper-pagination {
  position: absolute;
  bottom: 50px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  gap: 15px;
  .swiper-pagination-bullet {
    width: 11px;
    height: 11px;
    transition: 0.3s;
    background: #474747;
    &:hover {
      background: rgba(255, 255, 255, 0.6);
    }
    &:active {
      background: #ffffff;
    }
    &-active {
      background: #ffffff;
      transform: perspective(400px) scaleZ(1.5) translateZ(71px);
    }
  }
}
.close-btn {
  position: absolute;
  right: 0;
  top: 0;
  width: 50px;
  height: 50px;
  background: #474747;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: 0.3s;
  &:hover {
    background: #1f1f1f;
  }
  &:active {
    background: #660000;
  }
  .modal-close-icon {
    position: absolute;
    width: 20px;
    height: 20px;
    stroke: #ffffff;
    stroke-width: 3;
    stroke-linecap: round;
    z-index: 1;
    pointer-events: none;
  }
}
//1200
//992
//767
//576
