.modal-form {
  width: 1200px;
  background: #e9e9e9;
  display: flex;
  position: relative;
  &__img {
    max-width: 400px;
    width: 100%;
    background-image: url(../img/modal-form/modal-form-img.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
  &__form {
    display: flex;
    flex-direction: column;
    padding: 60px 100px 50px 50px;
  }
  &__title {
    font-size: 26px;
    font-weight: 600;
    line-height: 140%;
    color: #1f1f1f;
    margin-bottom: 30px;
  }
  &__inputs {
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin-bottom: 30px;
  }
  .input-wrapper,
  .textarea-wrapper {
    position: relative;
    border-bottom: 1px solid #474747;
    padding: 20px 0 15px;
    color: #1f1f1f;
  }
  .textarea-wrapper {
    padding-bottom: 4px;
    margin-bottom: 101px;
  }
  &__input,
  &__textarea {
    outline: none;
    width: 100%;
    z-index: 1;
    position: relative;
    &:focus {
      + .label {
        font-size: 19px;
        top: 0;
      }
    }
  }
  .label {
    position: absolute;
    left: 0;
    font-size: 22px;
    font-weight: 500;
    line-height: 170%;
    color: #474747;
    top: 20px;
    z-index: 0;
    &.active {
      font-size: 19px;
      top: 0;
    }
  }
  &__textarea {
    outline: none;
    color: #1f1f1f;
    resize: none;
    min-height: 37px;
  }
  .privacy-policy {
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 170%;
    color: #474747;
    margin-bottom: 15px;
    a {
      color: #660000;
      text-decoration: underline;
      transition: .3s;
      &:hover{
        color: #474747;
      }
      &:active{
        color: #1f1f1f;
      }
    }
  }
  &__send-btn {
    font-size: 22px;
    font-weight: 600;
    line-height: 140%;
    color: #ffffff;
    padding: 14.5px 0;
    background: #660000;
    text-align: center;
    transition: 0.3s;
    max-width: 350px;
    width: 100%;
    cursor: pointer;
    &:hover {
      color: #1f1f1f;
      background: #ffffff;
    }
    &:active {
      color: #1f1f1f !important;
      background: #a5a5a5 !important;
    }
  }
  @media (max-width: 1334px){
    width: 1070px;
  }
  @media (max-width: 1279px) {
    &__form {
      padding-bottom: 40px;
      padding-left: 20px;
      padding-right: 20px;
      width: 800px;
      flex-shrink: 0;
    }
    &__title {
      font-size: 20px;
      line-height: 140%;
    }
    &__inputs {
      gap: 15px;
      margin-bottom: 15px;
    }
    .input-wrapper {
      padding-top: 19px;
      padding-bottom: 14px;
      height: 60px;
    }
    .textarea-wrapper {
      padding-bottom: 0;
      border-bottom: none;
      margin-bottom: 76px;
    }
    &__textarea {
      border-bottom: 1px solid #474747;
      &:focus {
        + .label {
          font-size: 15px;
        }
      }
    }
    &__input {
      font-size: 17px;
      line-height: 160%;
      &:focus {
        + .label {
          font-size: 15px;
        }
      }
    }
    .label {
      font-size: 17px;
      line-height: 160%;
      top: 20px;
    }
    .privacy-policy {
      font-size: 15px;
      line-height: 160%;
    }
    &__send-btn {
      font-size: 18px;
      font-weight: 600;
      line-height: 140%;
      padding: 17px 0;
    }
  }
  @media (max-width: 1200px){
    width: 922px;
  }
  @media (max-width: 992px) {
    max-width: 712px;
    width: 100%;
    &__form {
      width: 100%;
    }
    &__img {
      display: none;
    }
  }
}
