@import 'form-modal';
@import 'product-modal';
@import 'project-modal';

.modal-overlay {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s ease-in-out;
  z-index: 10;
  overflow-y: auto;
  background: rgba(0, 0, 0, 0.5);
  &::-webkit-scrollbar {
    display: none;
  }
  &::-webkit-scrollbar-thumb {
    display: none;
  }
}
.modal {
  display: none;
  margin: auto;
}
.modal-overlay--visible {
  opacity: 1;
  visibility: visible;
  transition: all 0.3s ease-in-out;
  background: rgba(0, 0, 0, 0.5);
  z-index: 999;
}
.modal--visible {
  display: flex;
}
