.product__modal {
  width: 1200px;
  min-height: 800px;
  background: #ffffff;
  padding: 60px 50px 50px;
  background: #e9e9e9;
  position: relative;
  display: flex;
  flex-direction: column;
  .close-btn {
    position: absolute;
  }
  .catalog {
    display: flex;
    flex-direction: column;
    gap: 15px;
    position: absolute;
    &__info-text {
      font-size: 19px;
      font-style: normal;
      font-weight: 500;
      line-height: 170%;
      color: #474747;
    }
    &__request-btn {
      font-size: 22px;
      font-weight: 600;
      line-height: 140%;
      color: #ffffff;
      padding: 14.5px 0;
      background: #660000;
      text-align: center;
      transition: 0.3s;
      width: 100%;
      margin-bottom: 57px;
      cursor: pointer;
      &:hover {
        color: #1f1f1f;
        background: #ffffff;
      }
      &:active {
        color: #1f1f1f !important;
        background: #a5a5a5 !important;
      }
    }
  }
  .catalog__slider {
    overflow: hidden;
    display: flex;
    flex-direction: column;
    gap: 30px;
  }
  .catalog__slider-top {
    width: 420px;
    height: 420px;
    position: relative;
    overflow: hidden;
    .swiper-slide {
      width: 100%;
      height: 100%;
    }
    .slider-top__img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
    .swiper-button-next,
    .swiper-button-prev {
      position: absolute;
      width: 38px;
      height: 38px;
      top: 50%;
      transform: translateY(-50%);
      border: 1px solid #1f1f1f;
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;
      transition: 0.3s;
      .slider-arrow {
        width: 18px;
        height: 14px;
        opacity: 1;
      }
      &.swiper-button-disabled {
        opacity: 0;
      }
    }
    .swiper-button-prev {
      left: 10px;
    }
    .swiper-button-next {
      right: 10px;
      .slider-arrow {
        transform: rotate(180deg);
      }
    }
    .swiper-wrapper {
      display: inline-flex;
    }
  }
  .catalog__slider-thumbs {
    .swiper-wrapper {
      margin-bottom: 15px;
    }
    .swiper-slide {
      transition: 0.3s;
      position: relative;
      width: 60px !important;
      height: 60px;
      cursor: pointer;
      &::before {
        position: absolute;
        content: "";
        width: 5px;
        height: 100%;
        top: 0;
        left: 0;
        background: #660000;
        transition: 0.3s;
        opacity: 0;
      }
      .slider-thumbs__img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
    .swiper-slide-thumb-active {
      &::before {
        opacity: 1;
      }
    }
    .swiper-wrapper {
      display: flex;
      transform: translate3d(0px, 0px, 0px);
    }
  }
  .product-info {
    color: #1f1f1f;
    padding-left: 470px;
    &__title {
      font-size: 26px;
      font-weight: 600;
      line-height: 140%;
      margin-bottom: 10px;
    }
    &__vendor-code,
    &__subtitle {
      font-size: 19px;
      font-weight: 500;
      line-height: 170%;
      margin-bottom: 10px;
      color: #474747;
    }
    &__price-wrapper {
      font-size: 26px;
      font-weight: 600;
      line-height: 140%;
      margin-bottom: 30px;
    }
  }
  .product-info__parameters {
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding-left: 470px;
    color: #1f1f1f;
  }
  .parameter {
    display: flex;
    justify-content: space-between;
    font-size: 19px;
    font-weight: 500;
    line-height: 170%;
    &-value {
      position: relative;
      width: 248px;
      background: #e9e9e9;
      padding-left: 2px;
      z-index: 1;
    }
    &-name {
      position: relative;
      &::after {
        position: absolute;
        content: "";
        right: -283px;
        top: 21px;
        width: 280px;
        height: 1px;
        background-image: url(../img/product-modal/line.svg);
      }
    }
  }
  @media (max-width: 1334px) {
    width: 1070px;
  }
  @media (max-width: 1060px) {
    width: auto;
    padding: 60px 20px 40px;
    .catalog {
      position: static;
      order: 1;
      margin-bottom: 20px;
    }
    .catalog__slider {
      flex-direction: row;
      &-top {
        flex-shrink: 0;
      }
      &-thumbs {
        .swiper-wrapper {
          flex-wrap: wrap;
          row-gap: 12px;
        }
      }
    }
    .catalog__request-btn {
      margin-bottom: 0;
    }
    .product-info {
      padding-left: 0;
      order: 0;
    }
    .product-info__parameters {
      padding-left: 0;
      order: 2;
    }
  }
  @media (max-width: 992px) {
    max-width: 712px;
    width: 100%;
    .catalog__request-btn {
      font-size: 18px;
    }
    .product-info {
      &__title {
        font-size: 20px;
      }
      &__vendor-code {
        font-size: 15px;
        line-height: 160%;
      }
      &__subtitle {
        font-size: 15px;
        line-height: 160%;
      }
      &__price-wrapper {
        font-size: 20px;
        line-height: 140%;
        margin-bottom: 20px;
      }
      &__parameters {
        gap: 10px;
      }
    }
    .parameter {
      font-size: 15px;
      line-height: 160%;
      &-name::after {
        top: 16px;
      }
    }
  }
  @media (max-width: 767px) {
    max-width: 505px;
    .catalog__slider {
      gap: 15px;
    }
    .catalog__slider-top {
      width: 150px;
      height: 150px;
    }
    .slider-thumbs {
      .swiper-wrapper{
        gap: 10px;
      }
      .swiper-slide {
        width: 40px !important;
        height: 40px;
      }
    }
    .catalog__info-text {
      font-size: 15px;
      line-height: 160%;
    }
    .parameter-value{
      width: 160px;
      padding-right: 20px;
      transform: translateX(20px);
    }
    .parameter-name{
      max-width: 140px;
      width: 100%;
    }
  }
  @media (max-width: 325px){
    .parameter-name{
      max-width: 130px;
    }
  }
}
